@font-face {
	font-family: HelveticaNeue;
	src:url("./assets/fonts/helvetica/HelveticaNeueLTStd-Md.otf");
}
@font-face {
	font-family: HelveticaNeueLight;
	src:url("./assets/fonts/helvetica/HelveticaNeueLTStd-Lt.otf");
}

body{
	/*background-image: url("./assets/pics/bg.jpg");*/
	background-color: #934747;
	background-repeat: no-repeat;
	background-size: 100%;
}
.containerTxt{
	position: absolute;
	top: 400px;
	right: 20px;	
	/*background-image: url("./assets/pics/kind.png");
	background-repeat: no-repeat;*/
	background-size: 100%;
	width: 16.3%;
}
.containerTxt .txt{
	position: absolute;
	font-size: 40px;
	background-color: #D38888;
	top: 25px;
	right: 5px;
	font-family: HelveticaNeueLight;
}
.containerTxt img{
	height: 70%;
	width: 70%;
	display: block;
	margin-left: auto;
   margin-right: auto;
}
#picView{
	z-index: 1;
	visibility: hidden;
   position: fixed;
   top: 0;
   left: 0;
   text-align: center;
   width: 100%;
}
#picView:hover{
	cursor: zoom-out;
}
#picView #bigImg{
	/*width: 100%;*/
	height: 100%
}
.containerAll{
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	width: 80%;
}

.containerAll .background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .6;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url("./assets/pics/spring.jpg");
}

.containerAll .title{
	font-size: 10;
	color: black;
	font-weight: bold;
	margin-left: 45%;
	margin-top: 10px;
	font-family: HelveticaNeue;
}
.containerAll .desc{
	font-size: 50px;
	color: white;
	position: absolute;;
	left: 20px;
	top: 60px;
}
#tileHolder{
	position: absolute;
	top: 150px;
	left: 20px;
	right: 20px;
}

.unFocusedTile{
	transition: 600ms all cubic-bezier(0, 1.52, 1, 1.01);
}

.unFocusedTile:hover{
	transition: 600ms all cubic-bezier(0, 1.52, 1, 1.01);
	transform: scale(1.05, 1.05);
}

.container {
	position: relative;
	margin-right: 0px;
	margin-bottom: 0px;
	float: left;
	width: 400px;
	height: 400px;
	cursor: zoom-in;
}
.container img {
	height: 100%;
	width: 100%;
	}