@font-face {
	font-family: HelveticaNeue;
	src:url("./assets/fonts/helvetica/HelveticaNeueLTStd-Md.otf");
}

body{
	/*background-image: url("./assets/pics/bg.jpg");*/
	background-color: #934747;
	background-repeat: no-repeat;
	background-size: 100%;
}
.containerTxt{
	position: absolute;
	top: 100px;
	right: 20px;
	bottom: 100px;	
	background-color: #655252;
	/*background-image: url("./assets/pics/kind.png");
	background-repeat: no-repeat;*/
	background-size: 100%;
	width: 16.3%;
}
.containerTxt img{
	height: 70%;
	width: 70%;
	display: block;
	margin-left: auto;
   margin-right: auto;
}
#picView{
	z-index: 1;
	display: inline-block;
	visibility: hidden;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 1000px;
   height: 800px;
   margin: auto;
	background-color: white;
}
#picView:hover{
	cursor: zoom-out;
}
#picView #bigImg{
	width: 100%;
	height: 100%
}
.containerAll{
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	background-image: url("./assets/pics/spring.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 80%;
}
.containerAll .title{
	font-size: 10;
	color: black;
	font-weight: bold;
	margin-left: 45%;
	margin-top: 10px;
	font-family: HelveticaNeue;
}
.containerAll .desc{
	font-size: 50px;
	color: white;
	position: absolute;;
	left: 20px;
	top: 60px;
}
#tileHolder{
	position: absolute;
	top: 150px;
	left: 20px;
	right: 20px;
}
.unFocusedTile:hover{
	transform: scale(1.05, 1.05);
	transition: 600ms all cubic-bezier(0, 1.52, 1, 1.01);
}
.container {
	position: relative;
	margin-right: 0px;
	margin-bottom: 0px;
	float: left;
	width: 400px;
	height: 400px;
	cursor: zoom-in;
}
.container img {
	height: 100%;
	width: 100%;
	}